*,
*::after,
*::before {
    box-sizing: border-box;
    color: white;
    background-color: #0E1015;
}

:root {
    --navbar-height: 50px;
    --logo-width: 50px;
    --nav-padding: 5px;
    --main-border-color: rgb(140, 138, 138);
    --commands-container-width: 50%;
}

body {
    margin: 0;
    padding: 0;
}


.logo {
    height: var(--navbar-height);
    width: var(--logo-width);
}

.navbar {
    position: fixed;
    width: 100%;
    padding: var(--nav-padding) 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    background-color: #053A6F;
}

.navbar-links {
    margin-left: 1rem;
    overflow: hidden;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    background-color: aqua;
    list-style: none;
}

.navbar-links li a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    background-color: #053A6F;
    padding-right: 2rem;
    transition: color ease-out 350ms;
}

.navbar-links li:hover > * {
    color: rgba(255, 0, 0, 0.9);
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 0.6rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background-color: #053A6F;
    transition: transform ease-out 300ms;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

main {
    position: relative;
    top: calc(var(--navbar-height) + 2 * var(--nav-padding));
}

#current-page {
    font-weight: 900;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.loader-wrapper {
    width: 80px;
    height: 80px;
}
.loader {
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    border: 5px solid #162534;
    border-top-color: #4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50%; 
    animation: rotate .8s linear infinite;
}

.commands-container {
    width: 100%;
    display: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.commands-logo {
    width: 100%;
    text-align: center;
    margin: 4% 0;
    font-family: "Lato", sans-serif;
}

.commands-logo h1 {
    font-size: 2.5rem;
    margin: 5px;
}

.commands-logo p {
    margin: 0;
    color: #9ba0ae;
    font-size: 1.4rem;
}

.categories-list {
    margin-top: 4%;
    margin-left: 2%;
    width: 400px;
}

.categories-list ul {
    border: 3px solid #181a20;
    border-radius: 15px;
    background-color: #181a20;
    padding: 15px;
    box-shadow: 3px 5px 15px rgba(160, 27, 69, 0.9),
        3px -5px 15px rgba(160, 27, 69, 0.7);
}

.categories-list ul>* {
    background-color: #181a20;
    list-style: none;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bolder;
}

#all-choice {
    background: rgb(160, 27, 69);
}

.name-col {
    color: #00d1b2
}

.usage-col {
    color: #9ba0ae;
}

.table-container {
    flex-grow: 1;
    margin: 4%;
    margin-left: 3%;
    width: var(--commands-container-width);
}

table {
    border: 3px solid var(--main-border-color);
    border-collapse: collapse;
    box-shadow: 4px 8px 32px rgba(0, 0, 255, 0.9),
        4px -8px 32px rgba(0, 0, 255, 0.7);
}


th {
    background-color: rgb(102, 102, 102);
    font-weight: 900;
}

th,
td {
    border: 3px solid var(--main-border-color);
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
}

td {
    background-color: #181a20;
    color: rgba(255, 255, 255, 0.85);
    transition: background-color ease-out 250ms;
}

td:hover {
    background: rgba(45, 47, 50, 0.8);
}

.empty-container {
    background-color: transparent;
    width: 10%;
}

@media only screen and (max-width: 1400px) {
    .empty-container {
        display: none;
    }

    .categories-list {
        width: 350px;
    }

    .commands-container {
        justify-content: center;
    }
}


@media only screen and (max-width: 1200px) {
    :root {
        --commands-container-width: 70vw;
    }

    th,
    td {
        border: 2px solid rgb(140, 138, 138);
        padding: 15px;
        width: calc(var(--commands-container-width) /  3);
    }

    .commands-container {
        flex-direction: column;
        align-items: center;
    }

    .table-container {
        margin-left: 4%;
    }

    .categories-list {
        margin: 0;
        width: var(--commands-container-width);
    }
}

@media only screen and (max-width: 1100px) {
    td {
        color: rgba(255, 255, 255, 0.9);
    }
}

@media only screen and (max-width: 1000px) {
    :root {
        --commands-container-width: 80%;
    }

    th,
    td {
        font-size: 1.25rem;
        padding: 15px;
    }

    .categories-list ul > * {
        font-size: 1.10rem;
    }

    .commands-logo h1 {
        font-size: 2rem;
    }

    .commands-logo p {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --commands-container-width: 69vw;
    }

    th {
        display: none;
    }

    td {
        text-align: left;
        width: var(--commands-container-width)
    }

    .name-col {
        border: none;
        text-align: center;
    }

    .descr-col {
        border: none;
    }

    .usage-col {
        border-top: none;
    }

    table {
        border: 2px solid var(--main-border-color);
    }

    .table-container {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 715px) {
    :root {
        --commands-container-width: 80vw;
    }

    .categories-list ul>* {
        text-align: center;
        border-bottom: 1px solid rgba(140, 138, 138, 0.15)
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        height: 0;
        margin-left: 0;
        display: none;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border-bottom: 1px solid rgba(231, 224, 224, 0.212);
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .date {
        position: relative;
        top: var(--navbar-height);
    }

}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes rotate {
    0%{
        transform: scale(1) rotate(0);
    }
    50%{
        transform: scale(.8) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}