#commands {
    margin-bottom: 2%;
    margin-top: 2%;
}

.table-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    border-collapse: collapse;
}

th {
    background-color: rgb(102, 102, 102);
    font-weight: 900;
}

th, td {
    border: 3px solid rgb(140, 138, 138);
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    width: 25vw;
}

td {
    color: rgba(255, 255, 255, 0.8);
    transition: background-color ease-out 250ms;
}

td:hover {
    background: rgba(45, 47, 50, 0.8);
}